<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>edit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form class="form" [formGroup]="todo" (ngSubmit)="logForm()">
    <ion-item>
      <ion-label>Tittle</ion-label>
      <ion-input type="text" formControlName="title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Description</ion-label>
      <ion-textarea formControlName="description"></ion-textarea>
    </ion-item>
    <ion-item>
      <div class="container">
        <ion-button class="select" (click)="takePhoto();" color="primary" fill="outline">Photo</ion-button>
        <ion-img #photo formControlName="photo"></ion-img>
      </div>
    </ion-item>
    <ion-button class="save" shape="round" color="primary" fill="outline" type="submit" [disabled]="!todo.valid">Save</ion-button>
  </form>
</ion-content>
