.form{
    margin-inline: 1.5%;
    margin-top: 1.5%;
}

.save{
    margin-top: 5%;
    margin-inline: 20%;
    display: flex;
    align-self: center;
}

.save:active{
    background-color: aquamarine;
}

.container{
    display: flex;
    flex-direction: column;
    padding-bottom: 6%;
    align-items: center;
}

.select{
    margin-top: 3%;
    margin-bottom: 2%;
}