<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      New interesting Place
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="todo" (ngSubmit)="logForm()" class="form">
    <ion-item>
      <ion-label>Title</ion-label>
      <ion-input type="text" formControlName="title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Description</ion-label>
      <ion-textarea formControlName="description"></ion-textarea>
    </ion-item>
    <ion-item>
      <div class="container">
        <ion-button class="select" (click)="takePhoto();" color="primary" fill="outline">Photo</ion-button>
        <ion-img #photo></ion-img>
      </div>
    </ion-item>
    <ion-button class="upload" shape="round" color="primary" fill="outline" type="submit" [disabled]="!todo.valid">Submit</ion-button>
  </form>
</ion-content>

